<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo1 .png" />
		<link rel="manifest" href="/site.webmanifest" />

		<meta name="generator" content={Astro.generator} />
		<title>Alex Flooring & Carpentry LLC</title>
		<meta property="og:title" content="Alex Flooring & Carpentry LLC" />
		<meta property="og:description" content="Expert flooring and carpentry services in Virginia." />
		<meta property="og:image" content ="/logo 2.jpg">
		<meta property="og:type" content="website"/>
		<script type="application/ld+json">
			{
			  "@context": "https://schema.org",
			  "@type": "LocalBusiness",
			  "name": "Alex Flooring & Carpentry LLC",
			  "image": "https://alex-flooring-site.vercel.app/logo2.jpg",
			  "url": "https://alex-flooring-site.vercel.app",
			  "telephone": "+1-703-928-8331",
			  "priceRange": "$$",
			  "address": {
				"@type": "PostalAddress",
				"streetAddress": "Dumfries, VA",
				"addressLocality": "Dumfries",
				"addressRegion": "VA",
				"postalCode": "22025",
				"addressCountry": "US"
			  },
			  "openingHours": "Mo-Sa 07:00-17:00"
			}
			</script>
			
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
